{% extends 'base.html' %}

{% block main %}
{% load cart %}
<div class="<div class="container col-9">
      <div class="row mx-auto">
          <div class="col-9 mx-auto border rounded pt-4 pb-4">
            {% if request.session.cart %}
              <h3 align="center">Your Cart</h3>
            {% else %}
            <h3 align="center">Your Cart is empty</h3>
            {% endif %}
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Product</th>
                    <th scope="col">Product-name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>

                    {% for product in products %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><img class="img-circle" src="{{product.image.url}} " width="75px"></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{ product.id|quantity:request.session.cart }}</td>
                    <td>{{ product|total_sum:request.session.cart}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5"><h4>Total</h4></th>
                        <th>{{ products|total_bill:request.session.cart }}</th>
                    </tr>
                    <tr>
                      {% if request.session.cart %}
                        <td>
                            <input type="submit" value="Clear cart" class="btn btn-danger">
                        </td>
                        <td colspan="4"></td>
                        <td><input type="submit" value="Order" class="btn btn-primary"></td>
                      {% else %}
                      <th colspan="3" class="mx-auto"><h4></h4></th>
                      <td>
                        <form action="/" method="get">
                          <input type="submit" class="btn btn-primary" value="Add products">
                        </form>
                      </td>
                      {% endif %}
                    </tr>
                </tfoot>
              </table>
          </div>
      </div>
</div>"></div>

{% endblock %}