{% extends 'base.html'%}

{% block main %}


<div class="container-fluid">
    <div class="p-4 m-4">
        <div class="col-lg-4 mx-auto border rounded pt-4 pb-4 ">
            <h3 class="alert alert-light border rounded " align='center'>Signin Form</h3>
            {% if error %}
            <div class="alert alert-danger" role="alert" align='center' style="color: red; font-size: larger;">
                {{error}}
            </div>
            {% endif %}
            <form action="signin" method="post">
                {% csrf_token %}
                <div class="form-group">
                    Email address
                    <input type="email" value="{{email}}" name="email" class="form-control form-control-sm"
                           placeholder="example@gmail.com">
                </div>
                <div class="form-group">
                    Password
                    <input type="password" name="password" class="form-control form-control-sm" id="phone_number"
                           placeholder="6-20 character password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}